body{
    background: rgb(255, 255, 255);
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    height: 100%;
  }

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.content {
    max-width: 700px;
    margin: auto;
  }

  button{
    background: rgb(228, 103, 103);
    border: none;
    color: black;
  }
  * {margin: 0; padding: 0;}
 
div {
  margin: 20px;
}

header{
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 700px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.ikona {
  width: 64px;
  height: 64px;
  cursor: pointer;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}
