body{
    background: rgb(255,253,208);
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    height: 100%;
  }
a.button {
    height: 95px;
    background-image: url("img/aboutmebutton.png");
    background-repeat: no-repeat;
    text-indent:-9999px;
   margin-left: auto;
    margin-right: auto;
    display: block;}
a#click {
    width: 194px;
    background-position: 0px 0px;
    align-items: center;
}
    a#framing-options {
        width: 175px;
        background-position: -175px 0px;}
a#click:hover {
    background-image: url("img/aboutmebutton2.png");
    background-repeat: no-repeat;
    display: block;
    background-position: 5px 5px;}
a#framing-options:hover {
    background-position: -175px -40px;}
a#click:active {
    background-position: 0px -80px;}
a#framing-options:active {
    background-position: -175px -80px;}
h1 {
    font-family: Georgia, Times, serif;
    font-size:200%;
    text-shadow: 2px 2px 3px #666666;
    padding-bottom: 10px;}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.content {
    max-width: 700px;
    margin: auto;
  }

  button{
    background: rgb(228, 103, 103);
    border: none;
    color: black;
  }
  * {margin: 0; padding: 0;}
 
div {
  margin: 20px;
}

header{
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 700px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.ikona {
  width: 64px;
  height: 64px;
  cursor: pointer;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li p {
  font: 200 12px/1.5 Open Sans, Open Sans, serif;
}
 
li {
  padding: 10px;
  overflow: auto;
    border: 1px solid grey;
}
 
li:hover {
  background: #eaccf6;
  cursor: pointer;
}
